<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col size="8">
      <ion-text color="primary "><h5>Children Location APP</h5></ion-text>
    </ion-col>
    <ion-col  size="4">
     <!-- <ion-button (click)="myLocation()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Mi Ubicación
      </ion-button> -->
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="ShowCords()" ion-fab color="primary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="myLocation()" ion-fab color="primary">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

      <div #map id="map"></div>
  </ion-content>
